.containerCombo{
  max-height:100px;
  
  overflow-y:auto;
  background-color:black;
  color:white;
  .scrollCombo{
    overflow-y:auto;
    padding:5px;
    .combo{
      &:hover{
        background-color:white;
        color:black;
      }
      
    }
    .comboDisabled{
      color:grey;
    }
  }
}