p,div{
  color:white
}
.reports{ 
  width:100%;
  overflow-y:scroll;
  overflow-x:scroll;
  &::-webkit-scrollbar{
    width:0;
    height:0;
  }
  color:white;
  margin:10px;
  //width:100%;
  .addFirstButton{
    width:auto;
    background-color:orange;
    color:black;
    margin-bottom:10px;
  }
  .addSecondButton{
    width:auto;
    background-color:orange;
    color:black;
    margin-bottom:10px;
    margin-left:10px;
  }

  .titleLabel{
    margin-bottom:5px;
    margin-top:5px;
    padding:5px;
    color:white;
    background-color:black;
    width:fit-content;
  }
  table{
    width:auto;
    border-spacing:0px;
    border-collapse:collapse;
    td,th{
      padding:5px;
      text-align:left;
    }
    th{
      background-color: black;
      color:white;
    }
  }
}
.notlastborder{
  
  border-right:1px solid white;
}
.lastborderexceptlastblock{
  &:last-child{
    border-right:1px solid white;
  }
}
.nlb{
  
  th{
      border-right:1px solid black;
      &:last-child{
        border-right:none;
      }
  }
}
.nlb1{
  
  th{
      border-right:1px solid white;
      
  }
}

div{
  &.cont{
    margin:0;
    padding:0;
    table,thead,tbody,tr,td,th{
      border-spacing:collapse;
      border-collapse:collapse;
      background-color:black;
      color:white;
      border-spacing: 0px;
      padding-left:0px;
      padding-right:0px;
      padding-top:0px;
      padding-bottom:0px;
      margin:0;
      height:auto;
      border:none;
      
    }
    /*th.bord{
      background:green;
    }*/
    
    td{
      //background-color:white;
      color:black;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:5px;
      padding-top:5px;
      text-align:right;
      border-right:1px solid black;
      
    }
    .gray{
      background-color:lightgray;
    }
    .white{
      background-color:white;
    }
    tr.left{
      td{
        text-align:left;
      }
      
    }
    tbody{
      height:0px;
    }
    tbody.tbh{
      height:auto;
    }
    th{
      height:auto;
    }
    th.bord{
      border:1px solid white;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:5px;
      padding-top:5px;
      margin:0;
      text-indent: 0px;
    
    }
    table.main{
      margin-bottom:5px;
      
    }
  }
}
