.detailedProduct{ 
  color:white;
  margin:15px;//15
 
  margin-bottom:0;
  margin-top:0;
  padding:0px;
  padding-bottom:10px;
  height:100%;
  max-height:100%;
  overflow:hidden;
  //width:100%;
  .addFirstButton{
    width:auto;
    background-color:orange;
    color:black;
    margin-bottom:10px;
  }
  .addSecondButton{
    width:auto;
    background-color:orange;
    color:black;
    margin-bottom:10px;
    margin-left:10px;
  }

  .titleLabel{
    margin-bottom:5px;
    margin-top:5px;
    padding:5px;
    color:white;
    background-color:black;
    width:fit-content;
  }
  table{
    width:100%;
    border-spacing:0px;
    border-collapse:collapse;
    td,th{
      padding:5px;
      text-align:left;
    }
    th{
      background-color: black;
      color:white;

    }
  }
}
