.mainLayout{
  display:flex;
  flex-direction:column;
  height:100vh;
  overflow-y:hidden;
  .sidebarMenuAndContent{
    display:flex;
    position:relative;
    flex-direction:row;
    flex:1;
    overflow-y:hidden;
    .content{
      
      flex:1;
      background-color: brown;
      height:100%;
      overflow-y:auto;
      display:flex;
      flex-direction:column;
      position:relative;
    }
  }
}