.dialog{
  //overflow:hidden;
  //position:relative;
  
  width:370px;
  
  position:absolute;
  background-color:white;
  left:calc((100% / 2));//calc(vw/2);//50%;
  top:calc((100% / 2));//50%
  transform:translate(-50%,-50%);//(-50%,-50%);
  color:black;
  height:auto;
  z-index:2001;
  .header{
    display:flex;
    padding:10px;
    background-color: var(--darkgray);
    color:white;
    .headline{
      flex:1;
      margin:0;
      padding:0;
    }
    .close{
      width:auto;
    }
  }
  .childContent{
    margin:10px;
  }
}