.shadow{
  //overflow:hidden;
  padding:0;
  margin:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  max-height:calc(100%);
  height:calc(100%);
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.3);
  
  z-index:2000;
}
.screensize{
  //overflow:hidden;
  margin:0;
  padding:0;
  max-height:100%;
 
}